mjml
    //- Head
    mj-head
        mj-title Warstick Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-font(name="Quantico" href="https://fonts.googleapis.com/css2?family=Quantico")/
        mj-attributes
            mj-text(font-family="Quantico, sans-serif" align="center" font-size="18px" line-height="26px" color="#ffffff" padding="0px")/
            mj-image(border='none' padding='0')/
            mj-button(background-color='#D1AA5A' color="#000000" font-size='14px' font-family='Quantico, sans-serif' text-transform="uppercase" border-radius="0px" height="45px" width="200px")/
            mj-section(background-color="#000000" padding="0")/
            mj-class(name="head-text" font-size="48px" line-height="69px" text-transform="uppercase")
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color="#f1f1f1")       
        //- content
        block content
        //- map
            block map
            include ../includes/_map
        //- recommended
            block recommended
            include ../includes/_recommended
        //- footer
            block footer
            include ../includes/_footer